src/wsdl/localhost_8080/wsintegra/LoteExamesXmlReceiver.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://wservice.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wservice.com.br/">

<xs:element name="recebeLote" type="tns:recebeLote"/>

<xs:element name="recebeLoteResponse" type="tns:recebeLoteResponse"/>

<xs:element name="solicitacaoExames" type="tns:solicitacaoExames"/>

<xs:element name="solicitacaoExamesResponse" type="tns:solicitacaoExamesResponse"/>

<xs:complexType name="solicitacaoExames">
<xs:sequence>
<xs:element name="xml" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solicitacaoExamesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recebeLote">
<xs:sequence>
<xs:element name="xml" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recebeLoteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>